doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    meta(charset="utf-8")
    +css([
      {name: "bootstrap", version: "main", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {url: "css/index.css"}
    ])
  body
    .w-1024.rwd.m-auto
      .text-muted.my-4.d-flex.align-items-center
        span 注意：公式 / 級距表版本為
        select.form-control.form-control-sm.mx-2(data-var="year",style="width:5em")
          option(value="112") 112
          option(value="111") 111
          option(value="110") 110
        span 年版
      .row
        .col-sm-4
          .card.info.mb-2: .card-body
            h3 員工資訊
            hr
            .form
              .form-group
                label 薪資 #[small.text-secondary  / 跟員工說會給的數字]
                input.form-control(placeholder="2022年起最低薪資為 25,250 NTD",data-var="salary",value="25250")
              .form-group
                label 眷口數 #[small.text-secondary  / 除自己外，多少人跟自己一起報健保?]
                select.form-control(data-var="family-count")
                  option(value="0") 僅自己
                  option(value="1") 自己 + 1 眷口
                  option(value="2") 自己 + 2 眷口
                  option(value="3") 自己 + 3 眷口
              .form-check
                input.form-check-input(type="checkbox",data-var="is-boss")
                label.form-check-label 是雇主
            hr
            .form
              .form-group
                label 實領 #[small.text-secondary  / 應發給員工的金額 = 薪資 - 個人負擔]
                input.form-control(data-var="pay",disabled)
          .card: .card-body
            h3 公司資訊
            hr
            .form
              .form-group
                label 職災費率 #[small.text-muted  / 各行業不同, 可至勞保投保系統查]
                input.form-control(data-var="disaster-rate",value="0.16")
              hr
              .form-group
                label 帳單數字 #[small.text-muted  / 勞保、工資墊償、勞退、健保等]
                input.form-control(data-var="bill-total",value="",disabled)
              hr

        .col-sm-4
          .card.info: .card-body
            h3 勞保/勞退
            hr
            .form
              .form-group
                label 個人負擔
                input.form-control(data-var="bli-idv",disabled)
              .form-group
                label 單位負擔
                input.form-control(data-var="bli-com",disabled)
              hr
              .form-group
                label 工資墊償基金 #[span.text-muted.text-sm / 單位全額負擔]
                input.form-control(data-var="bli-salary",disabled)
              .form-group
                label 合計
                input.form-control(data-var="bli",disabled)
              hr
              .form-group
                label 勞退 ( 單位提撥 )
                input.form-control(data-var="bli-ret",disabled)


        .col-sm-4
          .card.info: .card-body
            h3 健保
            hr
            .form
              .form-group
                label 個人負擔
                input.form-control(data-var="nhi-idv",disabled)
              .form-group
                label 單位負擔
                input.form-control(data-var="nhi-com",disabled)
              hr
              .form-group
                label 合計
                input.form-control(data-var="nhi",disabled)
  hr
  .w-1024.rwd.m-auto
    .row
      .col-sm-8
        .card.info: .card-body
          h3 獎金
          ul.text-muted.pl-3
            li 所得稅: 稅額 2000 以上，代扣 5% 。(無條件捨去)
            li 二代健保(獎金): 全年超出四倍薪資部份, 2.11% (四捨五入, 從獎金中扣除)
            li 二代健保(薪資): 公司另繳總發薪 - 投保薪(不計雇主) 的 2.11%. (四捨五入)
          hr
          .form-group
            label 獎金金額
            input.form-control(data-var="prize")
          .form-group
            label 受獎人之健保投保薪資 #[span.text-muted.text-sm / 注意, 獎金累加超過四倍此值後都需計入二代健保]
            input.form-control(data-var="prize-minus")
          .form-group
            label 代扣所得稅
            input.form-control(data-var="prize-pretax", disabled)
          .form-group
            label 二代健保(獎金部份) #[span.text-muted.text-sm / 個人負擔]
            input.form-control(data-var="prize-nhi1", disabled)
          .form-group
            label 二代健保(薪資部份) #[span.text-muted.text-sm / 公司負擔]
            input.form-control(data-var="prize-nhi2", disabled)
            span.text-danger.text-sm 注意，實際金額尚需計入其它如雇主薪資部份
          .form-group
            label 實領獎金
            input.form-control(data-var="prize-real", disabled)
          .form-group
            label 公司實際花費
            input.form-control(data-var="prize-spend", disabled)
    +nbr(3)

  +script([
    {name: "papaparse", version: "main", path: "papaparse.min.js"},
    {name: "@loadingio/ldquery"},
    {url: "js/index.js"}
  ])
