doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  head
    meta(charset="utf-8")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet",href="assets/lib/ldui/ldui.min.css")
    link(rel="stylesheet",href="css/index.css")
  body
    .w-75.m-auto
      .text-muted.my-4 注意：公式 / 級距表版本為 111 年版
      .row
        .col-sm-4
          .card.info.mb-2: .card-body
            h3 員工資訊
            hr
            .form
              .form-group
                label 薪資 #[small.text-secondary  / 跟員工說會給的數字]
                input.form-control(placeholder="2022年起最低薪資為 25,250 NTD",data-var="salary",value="25250")
              .form-group
                label 眷口數 #[small.text-secondary  / 除自己外，多少人跟自己一起報健保?]
                select.form-control(data-var="family-count")
                  option(value="0") 僅自己
                  option(value="1") 自己 + 1 眷口
                  option(value="2") 自己 + 2 眷口
                  option(value="3") 自己 + 3 眷口
              .form-check
                input.form-check-input(type="checkbox",data-var="is-boss")
                label.form-check-label 是雇主
            hr
            .form
              .form-group
                label 實領 #[small.text-secondary  / 應發給員工的金額 = 薪資 - 個人負擔]
                input.form-control(data-var="pay",disabled)
          .card: .card-body
            h3 公司資訊
            hr
            .form
              .form-group
                label 職災費率 #[small.text-muted  / 各行業不同, 可至勞保投保系統查]
                input.form-control(data-var="disaster-rate",value="0.17")
              hr
              .form-group
                label 帳單數字 #[small.text-muted  / 勞保、工資墊償、勞退、健保等]
                input.form-control(data-var="bill-total",value="",disabled)
              hr

        .col-sm-4
          .card.info: .card-body
            h3 勞保/勞退
            hr
            .form
              .form-group
                label 個人負擔
                input.form-control(data-var="bli-idv",disabled)
              .form-group
                label 單位負擔
                input.form-control(data-var="bli-com",disabled)
              hr
              .form-group
                label 工資墊償基金 #[span.text-muted.text-sm / 單位全額負擔]
                input.form-control(data-var="bli-salary",disabled)
              .form-group
                label 合計
                input.form-control(data-var="bli",disabled)
              hr
              .form-group
                label 勞退 ( 單位提撥 )
                input.form-control(data-var="bli-ret",disabled)


        .col-sm-4
          .card.info: .card-body
            h3 健保
            hr
            .form
              .form-group
                label 個人負擔
                input.form-control(data-var="nhi-idv",disabled)
              .form-group
                label 單位負擔
                input.form-control(data-var="nhi-com",disabled)
              hr
              .form-group
                label 合計
                input.form-control(data-var="nhi",disabled)
  script(src="assets/lib/ldui/ldui.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.3/papaparse.min.js")
  script(src="js/index.js")
